<script>
  import db from '@/firebase/init'
  import firebase from 'firebase'
  import AuthService from "./../../ad_auth/authad"
  import GraphService from "./../../ad_auth/graphad"

  //import {getAccountAd} from './../../ad_auth/authad'

  import { Account } from 'msal'
  import vlogin from './../../views/Home'

  export default {
    name: 'Navigation',
    
    data(){
      return {
      //msg: 'Welcome to Your Vue.js + MSAL.js App',
      user: null,
      userInfo: null,
      apiCallFailed: false,
      loginFailed: false,
      userlogged: false
    }
    },
    created() {
      this.authService = new AuthService();
      this.graphService = new GraphService();
    },
    methods: {
      callAPI() {
        this.apiCallFailed = false;
        this.authService.getToken().then(
          token => {
            this.graphService.getUserInfo(token).then(
              data => {
                this.userInfo = data;
                alert("callAPI successful")
              },
              error => {
                alert(error);
                this.apiCallFailed = true;
                
              }
            );
          },
          error => {
            alert(error);
            this.apiCallFailed = true;
          }
        );
      },

      logout() {
        this.authService.logout();
        this.$router.push({name: 'Home'})
      },

      login() {
        this.loginFailed = false;
        this.authService.login().then(
          user => {
            if (user) {
              this.user = user;
              alert("hello user logged");
              this.userlogged = true;
              this.$router.push({name: 'Report'})
            } else {
              this.loginFailed = true;
              alert("hello again");
            }
          },
          () => {
            this.loginFailed = true;
            alert("login failed");
          }
        );
      },
      
    }

  }



</script>  

<template>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://www.viabcp.com/">
        <img src="../../img/bcp-125anos.ai-converted.png" width="80" height="200"> 
      </a>
      <h3 class="title is-3">Dashboard System</h3>        
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item">
          <div v-if="!user">         
            <div class="buttons">
              <div class="button is-primary" v-on:click="login">
                <strong>Log in</strong>
              </div>
            </div>
          </div>
          <div v-if="user">
            <div class="buttons">
              <div class="button is-primary" v-on:click="logout">
                <strong>Log out</strong>
              </div>
              <div class="button is-primary" v-on:click="callAPI">
                <strong>Call Graph's /me API</strong>
              </div>
              <router-link class="button is-primary" to="/issue">
                <strong>Report an issue</strong>
              </router-link>
            </div>
            <h3>Hello,  {{ user.name }}</h3>
            </br>
          </div>
          <pre v-if="userInfo">{{ JSON.stringify(userInfo, null, 4) }}</pre>
          <p v-if="loginFailed">Login unsuccessful</p>
          <p v-if="apiCallFailed">Graph API call unsuccessful</p>
        </div>
      </div>
    </div>
  </nav>
</template>


