<script>
var username = 100;
//var user_name = '';

import db from '@/firebase/init'
import firebase from 'firebase'
import aad from "./../ad_auth/authad"


export default {
  name: 'Login',
  /*
  data(){
    return{
      email:'',
      password:'',
      error:''
    };
  },
  */
  data:() =>({
  }),
  methods: {
    /*
    login: function(){
        username +=23 ;
    */
        /*
        if (this.email && this.password){
            firebase.auth().signInWithEmailAndPassword(this.email,this.password)
            .then (user => {
                this.email ='' 
                this.password ='' 
                alert(user)
                console.log(user);
                this.$router.push({name: 'Report'})
            },err => {
                alert(err.message);
            }
            );
            //e.preventDefault();
            console.log("hola a todos")
        }
        else{
        this.error="Please check your name/email/password, some of them is wrong"
        }
        console.log("hola a todos" + username)
      */
      
      //username = "hola";
    /*  
      aad.loginAd().then((account) =>{
        this.user_name =account.userName;
        alert(this.user_name);
      });
    }
    */ 
  } 
}
</script>

<template>
  <div>
    <div class="container mt-50">
    
      <div class="column is-6 is-offset-3">
        <h3 class="title is-4">Welcome!  </h3>
      </div>
    </div>
    <div class="column is-6 is-offset-3">
        <div >
          <a class="title is-6">1. Click on log in</a>
          </br>
          <img src="../img/paso1.png" width="300" height="300"> 
        </div>
        <div >
          <a class="title is-6">2. Log in by pop up</a>
          </br>
          <img src="../img/paso2.png" width="400" height="300" > 
        </div>
        <div >
          <a class="title is-6">3. Modify and export the report</a>
          <img src="../img/paso3.png" > 
        </div>
        
    </div>
  </div>
</template>

