
<template>
  <div class="container mt-50">
    <div class="columns">
      <div class="column is-6 is-offset-3">
        <h3 class="title is-3">Contact us to support you</h3><hr>
        <!--<form action="#" @submit.prevent="register">-->
        <div class="field">
          <label class="label">Name</label>
          <div class="control">
            <input class="input" type="text" placeholder="i.e. javier zarate" v-model="name">
          </div>
        </div>
        <div class="field">
          <label class="label">Email</label>
          <div class="control">
            <input class="input" type="email" placeholder="i.e. javierzarate@gmail.com" v-model="email">
          </div>
        </div>
        
        <div class="field">
          <label class="label">Description</label>
          <div class="control">
            <input class="input" type="text" placeholder="Explain your problem here" v-model="description">
          </div>
        </div>

          <button class="button is-primary" v-on:click="send_email()">Send email</button>
        <!--</form>
        <div class="notification is-danger" v-if="error">
          {{error}}
          <div class="button is-primary" v-on:click="login()">
        </div>
        -->       
      </div>
    </div>
  </div>
</template>

<script>
//import db from '@/firebase/init'
//import firebase from 'firebase'
export default {
   name: 'Register',
   data(){
    return{
      name:'',
      description:''
      
    };
  },
  methods: {
    send_email(){
        /*
        if (this.name && this.email && this.password){
            firebase.auth().createUserWithEmailAndPassword(this.email,this.password)
            .then (user => {
                this.name ='' 
                this.email ='' 
                this.password ='' 
                alert("this user was created successfuly!!!")
                console.log(user);
                this.$router.push({name: 'Login'})


            },err => {
                alert(err.message);
            }
            );
            //e.preventDefault();
            console.log("hola a todos")
            
        }
        else{
       
       
        }
        */
        alert("This mail was sent")
        this.$router.push({name: 'Home'})
    }    
  } 
}
</script>