<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
<script src="script1.js"></script>
<script>
var cont=10000000;

import Vue from 'vue'
import aad from './../ad_auth/authad'
import axios from 'axios'
import VueAxios from 'vue-axios'
import BootstrapVue from 'bootstrap-vue'


Vue.use(VueAxios,axios);
Vue.use(BootstrapVue);

import 'bootstrap/dist/css/bootstrap.css'
import 'bootstrap-vue/dist/bootstrap-vue.css'




export default {
  name: 'Report',
  data(){
    return{
      /*
      items: [
          { age: 40, first_name: 'Dickerson', last_name: 'Macdonald' },
          { age: 21, first_name: 'Larsen', last_name: 'Shaw' },
          { age: 89, first_name: 'Geneva', last_name: 'Wilson' },
          { age: 38, first_name: 'Jami', last_name: 'Carney' }
        ],
      */
			uri :'data:application/vnd.ms-excel;base64,',
			template:'<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>',
			base64: function(s){ return window.btoa(unescape(encodeURIComponent(s))) },
      format: function(s, c) { return s.replace(/{(\w+)}/g, function(m, p) { return c[p]; }) },
      
    }
  },
  methods: {
    
    tableToExcel: function(table, name){
    if (!table.nodeType) table = this.$refs.table
    var ctx = {worksheet: name || 'Worksheet', table: table.innerHTML}
    window.location.href = this.uri + this.base64(this.format(this.template, ctx))
    },
    
    add_row: function(){
      cont+=100;
      var d = new Date();
      var cell_add = document.getElementById('texto_agrega').value;
      var res = document.querySelector('#table_body');
      res.innerHTML +=`
        <tr class="selected">
          <td>${cont}</td>
          <td>BCP</td>
          <td>${cell_add}</td>
          <td>${d.getHours()+':'+d.getMinutes()+':'+d.getSeconds()}</td>
          <td>${d.getDate()+'/'+d.getMonth()+'/'+d.getFullYear()}</td>
          <td>Interbancaria3</td>
          <td>Successful</td>
          <td>Rol2</td>
          <td>Trace1</td>
          <td>Canal2</td>
          <td>0101-0101-0202</td>
          <td>0101-0303</td>
          <td>000</td>
          <td>Euros</td>
          <td>345678</td>
          <td>080080</td>
          <td>020235</td>
      </tr>
      `
      document.getElementById('texto_agrega').value = ''
    }
   ,
     json: async function(){
      console.log("hola a todos");
      var vm = this;
      let datos = await axios.get('http://localhost:8081/catalogo.json');
      var res = document.querySelector('#table_body')
      //res.innerHTML ='';
      let add_row ='';
      let datos_json = JSON.parse(JSON.stringify(datos.data));
      console.log(datos_json);      
      for (let dato_json of datos_json){
        //res.innerHTML +=`
        add_row +=`
        <tr class="selected">
          <td>${dato_json.campo01}</td>
          <td>${dato_json.campo02}</td>
          <td>${dato_json.campo03}</td>
          <td>${dato_json.campo04}</td>
          <td>${dato_json.campo05}</td>
          <td>${dato_json.campo06}</td>
          <td>${dato_json.campo07}</td>
          <td>${dato_json.campo08}</td>
          <td>${dato_json.campo09}</td>
          <td>${dato_json.campo10}</td>
          <td>${dato_json.campo11}</td>
          <td>${dato_json.campo12}</td>
          <td>${dato_json.campo13}</td>
          <td>${dato_json.campo14}</td>
          <td>${dato_json.campo15}</td>
          <td>${dato_json.campo16}</td>
          <td>${dato_json.campo17}</td>
      </tr>
      `
      }
      res.innerHTML +=add_row;
      
      /*.then(function (response){
        vm.status = response.data[10];
        alert(vm.status);
      }).catch(function (error){
        vm.status = 'An error ocurred. I am sorry' + error;
        alert(vm.status);
      });
      */
    }
    
  },
  computed:{

  }
}



</script>

<template>
  <div id="app1" class="container mt-5" >
  
    <h1>
      <div :class="['p-3','text-white','bg-dark']">
        <p>APP Dynamic </p>
      </div>
    </h1>
      <div id="table_excel" class="table-container">
        <table ref="table" id="excel1" summary="Tabla de prueba" rules="groups" frame="hsides" class="table table is-bordered table is-hover table-sm " cellspacing="0" width="100%" >
          <thead >
            <tr class="selected">
              <th>ID</th>
              <th>Banco Origen</th>
              <th>Banco Destino</th>
              <th>Hora</th>
              <th>Fecha</th>
              <th>Tipo de transfer.</th>
              <th>Proceso</th>
              <th>Rol</th>
              <th>Trace</th>
              <th>Canal</th>
              <th>Cod. de Rpta. ampliado</th>
              <th>Cod. de Origen de Respuesta</th>
              <th>Descripcion de error</th>
              <th>Moneda</th>
              <th>Id. de transaccion CCE</th>
              <th>Id. de transaccion CCE Orig</th>
              <th>Id. de sesion aplicativa</th>
            </tr>
          </thead>
          <tbody id="table_body">
            <tr class="selected">
              <td>25E5R58B</td>
              <td>BCP</td>
              <td>BBVA</td>
              <td>17:35:34</td>
              <td>19/2/2020</td>
              <td>Interbancaria1</td>
              <td>Successful</td>
              <td>Rol1</td>
              <td>Trace1</td>
              <td>Canal1</td>
              <td>0101-0101-0101</td>
              <td>0101-0101</td>
              <td>0000</td>
              <td>Soles</td>
              <td>123456</td>
              <td>654321</td>
              <td>101010</td>
            </tr>
            <tr class="selected">
              <td>50V5RH2T</td>
              <td>BCP</td>
              <td>Interbank</td>
              <td>20:04:30</td>
              <td>20/2/2020</td>
              <td>Interbancaria2</td>
              <td>Failed</td>
              <td>Rol1</td>
              <td>Trace1</td>
              <td>Canal1</td>
              <td>0101-0101-0101</td>
              <td>0101-0101</td>
              <td>0001</td>
              <td>Dolares</td>
              <td>654321</td>
              <td>080800</td>
              <td>123456</td>
            </tr>
            <tr class="selected">
              <td>50V5RH2T</td>
              <td>BCP</td>
              <td>Interbank</td>
              <td>20:04:30</td>
              <td>20/2/2020</td>
              <td>Interbancaria2</td>
              <td>Failed</td>
              <td>Rol1</td>
              <td>Trace1</td>
              <td>Canal1</td>
              <td>0101-0101-0101</td>
              <td>0101-0101</td>
              <td>0001</td>
              <td>Dolares</td>
              <td>654321</td>
              <td>080800</td>
              <td>123456</td>
            </tr>
          </tbody>
        </table>
      <!--
      <div>
        <b-table striped hover :items="items"></b-table>
      </div>
      -->
      </div> 
      <div>
      <button v-on:click="tableToExcel('table', 'excel1')" class="button is-primary">export to excel</button>
      <input type="text"  id="texto_agrega" placeholder="escribe aqui" @keyup.enter="add_row()">
      <button v-on:click="add_row()" class="button is-primary">add row</button>
      <button v-on:click="json()" class="button is-primary">import json</button>
      </div>
      

          
  
  </div>
</template>

<style lang="scss">

@import '../scss/App.scss';
@import '../../node_modules/bulma/bulma.sass';

#table_excel {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}


</style>
